.App {
    background-image: url('./assets/images/BgImage.svg');
    background-color: rgba(9, 15, 29, 0.97);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    color: #FFFFFD;
    font-size: 16px;
}
